<p>viewcart works!</p>

<!-- <div class="jumbotron text-center">
      <table class="table table-hover">
        <tbody>
          <tr>
            <th>Cart Id</th>
            <th>Customer Id</th>
            <th>Quantity</th>  
            <th>Status</th>
            <th>Book Id</th>  
            <th>Title</th>
            <th>Author</th>
            <th>Description</th> 
            <th>ISBN Number</th>  
            <th>Publish Date</th>  
            <th>Last Update</th>  
            <th>Price</th>    
            <th>Category Id</th>
            <th>Category Name</th>    
          </tr>
         <tr *ngFor="let cart of arr;let i=index">
           <td>{{cart.CartId}}</td>
           <td>{{cart.customerId}}</td>
           <td>{{cart.quantity}}</td>
           <td>{{cart.status}}</td>
           <td>{{cart.book.bookId}}</td>
           <td>{{cart.book.title}}</td>
           <td>{{cart.book.author}}</td>
           <td>{{cart.book.description}}</td>
           <td>{{cart.book.isbnNumber}}</td>
           <td>{{cart.book.publishDate}}</td>
           <td>{{cart.book.lastUpdate}}</td>
           <td>{{cart.book.price}}</td>
           <td>{{cart.book.categoryId}}</td>
           <td>{{cart.book.categoryName}}</td>
          <td>
            <button (click)="removeCartItem(cart.CartId)" class="btn btn-danger">Delete</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
     -->