<div class="jumbotron text-center">
  <h1> Search Movie</h1>
  <form  #searchform="ngForm" (ngSubmit)="find()">
      <label for=movieGenre>Search Movie</label>
          
          <select [(ngModel)]="movie.movieGenre"  #movieGenre="ngModel" type="drop"id="movieGenre" name="movieGenre" required>
              <option value="none" selected disabled hidden>  -- select --</option>  
             <option value="Drama">Drama</option>
             <option value="Fiction">Fiction</option>
             <option value ="Satire">Satire</option>
         </select>
         <div *ngIf="movieGenre.invalid && (movieGenre.dirty || movieGenre.touched)"
          class="alert alert-danger">
  
  <div *ngIf="movieGenre.errors.required">
  Movie Genre is required
  </div>
  
  </div>
  <div>
      <button [disabled]="!searchform.form.valid" type="submit" class="btn btn-success">Search Movie</button>
  </div>
  <table class="table table-hover">
  
      <tr>
         
          <th >Movie Name</th>
          <th >Rating</th>
          
         
      </tr>
  
      <tr *ngFor="let col of movies | async,let i=index">
  
          
          <td>{{col.movieName}}</td>
          <td>{{col.movieRating}}</td>
         
         
       </tr>
    </table>
      </form>
  
      </div>