/* You can add global styles to this file, and also import other style files */
 body{
    padding-top: srem;
    background: url(C:\Users\ANANYA\HealthCareSystem\src\assets/health.jpg);
    background-size: cover;
} 